*{
  margin:0;
  padding:0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar ul li a{
text-decoration:none;
color:#ddac17;
font-size: 1.5rem;
}
.navbar ul li a:hover {
color:var(--gold,--yellow);
background-color:rgb(49, 49, 40);
padding: 30%;
border-radius: 40%;
}
.navbar ul li{
list-style-type:none;
margin:10%;

}
header {
display:flex;

}
.navbar ul{
display:flex;

}
header img{
margin-right:30%;
height: 10%;
width: 10%;
border-radius:50%;
}
.home img{
  height: 85%;
  margin-left:72% ;
  margin-top: -25%;
  border-radius: 99% 1% 70% 30% / 58% 100% 0% 42% ;

}
.guna{
  margin-top:-10%;
  margin-left: 5%;
  width: 100%;
}

:root{
  --blue:#4c5fd7;
  --pink:#c32aa3;
  --org:#f46f30;
  --metalli:#d0af37;
  --gold:#ddac17;
}
.home h1{
  margin-left: 17%;
  font-size: 3rem;
  background: linear-gradient(var(--gold),rgb(45, 45, 41));
-webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  margin-bottom: 1%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.home .download{
  margin-top: -50px;
  margin-left: 18%; 
  font-size: 2rem;
  padding: 1%;
  border-radius: 30%;
  color:white;
  border: 0;
  background-color:#ddac17;

}
.home h4{
  margin-left: 17%;
  font-size:1.5rem;
  color:#000000;
  padding: 0.5%;
  
}
.home .login{
  margin-top: -150px;
  margin-left: 4%; 
  font-size: 2rem;
  padding: 1%;
  border-radius: 30%;
  color:white;
  background-color:#ddac17;
  border:0;

}











/* *{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
:root
{
 --yel:#FFB605;
 --grey:#3B3B3B;
 --black:#1C1C1C;
 --brown:#B28228;
 --light:#FFE002;
  --combo:linear-gradient(45deg,var(--grey),var(--yel));
}


#home
{
background-image: url("https://i.pinimg.com/564x/1e/6c/2d/1e6c2d4fc66323d48294fa26ab7f3c34.jpg");
background-position:center;
background-size:cover;
overflow:hidden;
height:700px;
width:1520px;
padding-top: 5%;
} 
#home .info{
  margin:5%;
}
#home .info h6,h1
{
 color:white;
}
#home .info h1{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top:10%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.5rem;
  position: absolute;
  color:white;

}
#home .info .span{
  background:white;

}
#home .info .dot{
  background: white;
  font-size:3rem;
  display: inline-block;
  width:15px;
  height:15px;
}
#info button
{
  align-items: center;
  margin-left: 35%;
  padding: 10%;
  
}
.info .googlebtn{
  font-size: 1.5rem;
  width:15%;
  height: 10%;
  padding: 1%;
  margin:20%;
  margin-left: 30%;
  margin-top:25%;
  background:rgb(0, 170, 255);
  color:white;
  border: 0;
  border-radius: 10%;
  position: absolute;
  
}
.info .emailbtn{
    margin-top:25%;
    font-size: 1.5rem;
    margin-left: 50%;
    width:15%;
    height: 10%;
    padding: 1%;
    
    background:rgb(255, 162, 0);
    color: black;
    border: 0;
    border-radius: 10%;
    position: absolute;

  }
  
#home button a{
  color:white;
 font-size: 1rem;
 text-decoration: none;
}
 */
